@import "../../global/styles/variables";

.btn-submit {
  // TODO BLOCKKKKK?????
  display: block;
  width: 180px;
  padding: 15px;
  margin-top: 35px;
  font-size: 18px;
  // TODO COLORS
  color: #fff;
  border: 0;
  border-radius: 10px;
  // TODO COLORS
  background: #595028;
}