@import "../../global/styles/variables";

.text {
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}

.error {
  color: $error;
  margin-top: 8px;
}

.input {
  text-align: center;
  width: 95%;
  height: 50px;
  margin-top: 15px;
  padding: 5px 15px;
  background: $white;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  font-size: 22px;
}